* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.about_me, .experience {
    padding: 20px;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.about_me_image {
    text-align: center;
    margin-bottom: 20px;
}

.about_me_image img {
    max-width: 100%;
    border-radius: 50%;
}

.about_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about_card {
    flex: 1 1 45%; /* Две карточки в строке */
    margin: 10px;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add_header {
    display: flex;
    align-items: center;
}

.icon_additional {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.experience_item {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}